.usage-bar {
  height: 100px;
  width: 100%;
  background: #E9E9E9;
  box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.35);
  margin: 20px 0 40px 0;
  position: relative;
}

.usage-bar-cost {
  width: 100%;
  height: 100%;
  background-color: #009688;
  transition: all 500ms cubic-bezier(0.130, 0.695, 0.590, 0.980);
}

.usage-bar-limit-enabled .usage-bar-cost {
  /*width: 50%;*/
}

.usage-bar-limit-enabled .usage-text-limit {
  opacity: 1;
  visibility: visible;
}

.usage-alert-indicator {
  position: absolute;
  left: 50%;
  top: 0;
  height: 100%;
  width: 1px;
  border: 1px dashed #B4B4B4;
  opacity: 0;
  visibility: hidden;
  transition: all 500ms;
}

.usage-bar-alert-enabled .usage-alert-indicator {
  opacity: 1;
  visibility: visible;
}

.usage-text {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 50%;
  display: flex;
  padding: 20px;
  justify-content: center;
  flex-direction: column;
}

.usage-text-cost {
  left: 0;
  align-items: flex-start;
  text-align: left;
  color: #676767;
}

.usage-text-limit {
  right: 0;
  align-items: flex-end;
  text-align: right;
  color: #676767;
  opacity: 0;
  visibility: hidden;
  transition: all 500ms;
}

.usage-text-description {
  font-weight: 300;
  font-size: 14px;
}

.usage-text-amount {
  font-weight: 400;
  font-size: 24px;
}