.chart text.shadow {
  stroke: #fff;
  stroke-width: 2.5px;
  opacity: 0.9;
}

.chart path {
  stroke: steelblue;
  stroke-width: 2;
  fill: none;
}

.chart .axis path,
.chart .axis line {
  fill: none;
  stroke: grey;
  stroke-width: 1;
  shape-rendering: crispEdges;
}

.chart .grid .tick {
  stroke: lightgrey;
  stroke-opacity: 0.7;
  shape-rendering: crispEdges;
}
.chart .grid path {
  stroke-width: 0;
}

.chart .area {
  stroke-width: 0;
}

.chart .area-api {
  fill: red;
}

.chart .area-cbx {
  fill: orange;
}

.chart .area-api-predictions {
  fill: gray;
}

.chart .area-cbx-predictions {
  fill: darkgray;
}

.chart .area-predictions-bg {
  fill: lightgrey;
}

.chart .area-pricing-max {
  fill: gray;
  fill-opacity: 0.2;
}

.chart div.tooltip {
  position: absolute;
  text-align: center;
  width: 70px;
  height: 20px;
  padding: 2px;
  font-size: 12px;
  background: lightsteelblue;
  border: 0px;
  pointer-events: none;
}

