{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "extends": "airbnb",
  "globals": {
    "FACEBOOK_ID": true,
    "GOOGLE_ID": true,
    "GITHUB_ID": true,
    "SENTRY_DSN": true,
    "ANALYTICS_WRITE_KEY": true,
    "STRIPE_PUBLISHABLE_KEY": true,
    "SYNCANO_BASE_URL": true,
    "ENV": true,
    "CIRCLE_BRANCH": true,
    "CIRCLE_SHA1": true,
    "VERSION": true
  },
  "rules": {
    "react/sort-comp": [2, {
      "groups": {
        "lifecycle": [
          "displayName",
          "propTypes",
          "contextTypes",
          "childContextTypes",
          "mixins",
          "statics",
          "mixinsConfig",
          "validatorConstraints",
          "defaultProps",
          "constructor",
          "getDefaultProps",
          "getInitialState",
          "getChildContext",
          "componentWillMount",
          "componentDidMount",
          "componentWillReceiveProps",
          "shouldComponentUpdate",
          "componentWillUpdate",
          "componentDidUpdate",
          "componentWillUnmount"
        ],
        "syncano": [
          "/^get.+$/",
          "/^on.+$/",
          "/^is.+$/",
          "/^has.+$/",
          "/^handle.+$/"
        ],
        "rendering": [
          "/^render.+$/",
          "render"
        ]
      },
      "order": [
        "lifecycle",
        "syncano",
        "everything-else",
        "rendering"
      ]
    }],
    "camelcase": 1,
    "comma-dangle": [2, "never"],
    "global-require": 0,
    "max-len": [2, 120],
    "import/no-unresolved": [2, { ignore: ['\.assets$'] }],
    "no-param-reassign": [2, { "props": false }],
    "no-unused-expressions": [2, { "allowShortCircuit": true }],
    "react/jsx-first-prop-new-line": [2, "multiline"],
    "react/jsx-boolean-value": [2, "always"],

    // to be fixed
    "array-callback-return": [0],
    "no-return-assign": [0],
    "arrow-body-style": [0],
    "prefer-rest-params": [0],
    "consistent-return": [0],
    "prefer-template": [0],
    "react/jsx-no-bind": [0],
    "new-cap": [2, {"newIsCap": true, "capIsNew": false}],
    "prefer-const": 1,
    "no-underscore-dangle": 0, // to be removed after formMixin is deleted
    "react/prefer-es6-class": [0],
    "react/prop-types": [0],
    "react/prefer-stateless-function": [0]
  }
}
