.login,
.signup {
  margin: 50px auto 0;
  width: 495px;
}

.login-logo,
.signup-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login h1,
.signup h1 {
  font-weight: 400;
  font-size: 24px;
  color: #0091EA;
  text-align: center;
  margin: 0 0 1em 0;
  line-height: 1.2em;
}

.login p,
.signup p {
  font-size: 14px;
  color: #9E9E9E;
  text-align: center;
  margin: 1em 0 1em 0;
  font-weight: 300;
}

.login-disclaimer p,
.signup-disclaimer p {
  font-size: 12px;
}

.login a,
.signup a {
  color: #0091EA;
  cursor: pointer;
  text-decoration: none;
}

.login a:visited,
.signup a:visited {
  color: #0091EA;
}

.login .text-field,
.signup .text-field {
  width: 100% !important;
}

.login .raised-button,
.signup .raised-button {
  width: 100% !important;
}

.login a:hover,
.signup a:hover {
  text-decoration: underline;
}

.login-input-group,
.signup-input-group {
  margin: 1em 0;
}

.login-content,
.signup-content {
  padding: 40px;
  background-color: white;
  border-radius: 3px;
  margin-top: 40px;
  box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.10);
}

.login-header,
.signup-header {
  margin-bottom: 2em;
}

.login-options-group .separator,
.signup-options-group .separator {
  font-family: serif;
  font-style: italic;
  text-align: center;
  margin: 1em 0;
  color: #ccc;
}

.login-options-group,
.signup-options-group {
  margin: 2em 0;
}