@import 'config'
@import 'compass/css3/flexbox.scss'
@import 'compass/typography/vertical_rhythm.scss'

.notification
  +margin-trailer(3)
  +rhythm-borders(1px, 2)
  +horizontal-borders(1px, 1.5)
  border: 1px solid
  border-radius: 2px

  &__content
    +adjust-font-size-to(14px)
    +display-flex
    vertical-align: middle

    &__icon
      +display-flex
      min-width: 32px

      > i
        +adjust-font-size-to(19px)


  &.notification--warning
    background-color: #FFF3E0
    border-color: #FF9800
    color: #FF9800

  &.notification--error
    background-color: #FFE0E0
    border-color: #E53935
    color: #E53935

  &.notification--info
    background-color: rgba(29, 135, 229, 0.1)
    border-color: #1e88e5
    color: #1e88e5
