.list-item,
.card {
    background-color: white;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.15), 0px 2px 5px rgba(0, 0, 0, 0.2);
    font-size: 14px;
    color: #737373;
    position: relative;
    border-bottom: 1px solid #E5E5E5;
    transition: all 150ms;
}

.list-item-stream-view .list-item-header {
    cursor: pointer;
}

.list-item-stream-view .list-item-header .button-expand-toggle {
    fill: #C3C3C3;
}

.list-item-stream-view .list-item-header:hover .list-item-title,
.list-item-stream-view .list-item-header:hover .list-item-description,
.list-item-stream-view .list-item-header:hover .button-expand-toggle {
    color: #0091EA;
    fill: #0091EA;
}

.button-expand-toggle {
    fill: #C3C3C3;
    padding-top: 10px;
}

.button-expand-toggle:hover {
    fill: #0091EA;
}

.button-expand-toggle i {
    width: 20px;
    height: 20px;
}

.list-item.list-item-empty {
    background-color: transparent;
    box-shadow: none;
    font-size: 14px;
    color: #737373;
    border: 2px dashed #D2D2D2;
    cursor: pointer;
    user-select: none;
}

.list-item.list-item-empty .list-item-details {
    padding: 35px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.list-item.list-item-empty .list-item-text {
    margin: 15px 0 0 0;
    padding: 0;
}

.list-item.list-item-empty .list-item-title {
    font-weight: 300;
    font-size: 18px;
    color: #989898;
}

.view-stream .list-item.list-item-empty .list-item-icon i {
    width: 40px;
    height: 40px;
    padding: 0;
    fill: #828282;
}

.card.card-loading {
    margin: 30px -30px;
}

.list-item.list-item-expanded {
    margin: 30px -30px;
}

.list-item.list-item-expanded:first-child {
    margin: 0 -30px 25px -30px;
}

.list-item-expanded > .list-item-header {
    border-bottom: 1px solid #E5E5E5;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card.card-loading .progress-bar-group {
    opacity: 1;
    visibility: visible;
    animation: animatedBackground 10s linear infinite;
}

.card:last-child {
    border-bottom: none;
}

.card .card-header {
    position: relative;
}

.card-highlight {
    width: 4px;
    position: absolute;
    left: 0px;
    top: 0px;
    bottom: 0px;
    background-color: #0091EA;
    visibility: hidden;
}

.card-highlighted .card-highlight {
    visibility: visible;
}

/*.card .tabs {
  margin-left: 70px;
}*/

.card-icon {
    width: 90px;
    display: flex;
    justify-content: center;
}

.card-icon i {
    width: 30px;
}

.card-instance .card-icon i,
.card-class .card-icon i {
    cursor: pointer;
    user-select: none;
}

.card-webhook .card-icon i,
.card-trigger .card-icon i,
.card-schedule .card-icon i,
.card-instance .card-icon i,
.card-codebox .card-icon i,
.card-class .card-icon i,
.card-api-key .card-icon i,
.card-admin .card-icon i,
.card-invitation .card-icon i,
.card-account-invitation .card-icon i,
.card-trace .card-icon i {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    fill: white;
    padding: 9px;
}

.card-trace.card-trace-pending .card-icon i {
    background-color: #FEBF58;
}

.card-trace.card-trace-failure .card-icon i {
    background-color: #F16072;
    padding: 8px 9px 9px 9px;
}

.card-trace.card-trace-success .card-icon i {
    background-color: #93D14F;
}

.card-trace.card-trace-timeout .card-icon i {
    background-color: #8D9FE6;
}

.card-codebox .card-icon i {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    fill: white;
    padding: 4px;
}

.view-stream .list-item .list-item-icon i {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    fill: white;
    padding: 9px;
}

.card-codebox.card-codebox-nodejs .card-icon i {
    background-color: #80BD01;
}

.card-codebox.card-codebox-python .card-icon i {
    background-color: #4984B1;
}

.card-codebox.card-codebox-golang .card-icon i {
    background-color: #E0EBF5;
}

.card-codebox.card-codebox-ruby .card-icon i {
    background-color: #B21000;
    padding: 9px;
}

.card > .card-header {
    height: 100px;
    display: flex;
    flex-direction: row;
}

.card-text {
    display: flex;
    align-items: center;
}

.card-text-other {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-details {
    display: flex;
    align-items: center;
    padding: 0 5px 0 10px;
    flex: 3;
}

.card-details-other {
    display: flex;
    align-items: baseline;
    padding: 0 5px 0 10px;
    flex: 5;
    align-items: center;
}

.card-id {
    font-size: 16px;
    flex: 1;
    text-align: left;
    word-break: break-word;
    line-height: 100px;
    vertical-align: middle;
    padding: 0 5px;
}

.card-description {
    flex: 4;
    display: flex;
    align-self: center;
    font-size: 12px;
    color: #999;
    text-align: left;
    vertical-align: middle;
    line-height: 15px;
    overflow: hidden;
    word-break: break-word;
    padding: 0 5px;
}

.card-description-other {
    flex: 4;
    font-size: 12px;
    color: #999;
    text-align: left;
    overflow: hidden;
    word-break: break-word;
}

.card-extras {
    display: flex;
    flex: 3;
    flex-direction: column;
    padding: 10px 5px;
}

.card-other-extras {
    display: flex;
    flex: 3;
}

.card-title {
    font-weight: 400;
    font-size: 16px;
    color: #666;
    margin-bottom: 0.15em;
    color: #767676;
    word-break: break-word;
}

.card-info, .card-info-date {
    color: #999;
    font-size: 13px;
    margin-right: 10px;
    line-height: 20px;
}

.card-info {
    padding: 10px 10px 5px 5px;
    display: flex;
    justify-content: flex-end;
    flex: 7;
}

.card-dropdown {
    padding: 10px 10px 5px 5px;
    display: flex;
    justify-content: flex-end;
}

.card-instance span,
.card-codebox span,
.card-trigger span,
.card-webhook span,
.card-schedule span {
    cursor: pointer;
}

.card-instance span:hover,
.card-codebox span:hover,
.card-trigger span:hover,
.card-webhook span:hover,
.card-schedule span:hover {
    text-decoration: underline;
}

.card-avatar {
    border-radius: 100%;
    width: 40px;
    height: 40px;
}

.card-body {
    padding: 30px 0;
    /*margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;*/
}

.card-body .card {
    width: auto;
    height: 85px;
    background-color: white;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.30);
    margin-right: 20px;
    margin-bottom: 20px;
    flex: 0 1 250px;
    min-width: 200px;
    border-bottom: none;
}

.card-body .card-icon {
    background-color: rgb(224, 131, 131);
    border-radius: 100%;
    width: 40px;
    height: 40px;
    margin: 0 15px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-body .card-icon i {
    width: 20px;
    height: 20px;
}

.card-body .card-header {
    border: none;
}

.card-body .card-title {
    font-size: 13px;
    color: #7C7C7C;
}

.card-body .card-icon path {
    fill: white;
}

.card-body .card-content {
    padding: 15px;
}

.card-body .card-list {
    display: flex;
    flex-wrap: wrap;
}

.card-section {
    padding: 0px 70px 0px 70px;
    margin-bottom: 30px;
}

.card-section-result {
    padding: 25px;
    color: white;
    white-space: pre;
    font: 12px/normal 'Monaco', monospace;
    background-color: #4C4A43;
}

.card-section:last-child {
    margin-bottom: 0px;
}

.card-section:last-child .card-section-inner {
    border-bottom: none;
}

.card-section-inner {
    border-bottom: 1px solid #E5E5E5;
    padding-bottom: 30px;
}

.card-section-header {
    position: relative;
    margin-bottom: 20px;
}

.card-section-icon {
    position: absolute;
    top: 0px;
    left: -70px;
    width: 70px;
    display: flex;
    justify-content: center;
}

.card-section-header-content {
    flex: 1;
}

.card-section-header .card-section-header-text {
    flex: 1;
}

.card-section-header i {
    width: 20px;
    height: 20px;
}

.card-section-header i path {
    fill: #BFBFBF;
}

.card-section-title {
    color: #888;
    font-size: 14px;
}

.card-section-description {
    font-size: 13px;
    color: #999;
    margin-top: 0.15em;
}

.card-header .tabs-group {
    margin-left: 60px;
    font-size: 13px;
    font-weight: 400;
    flex: 0 0 40px;
}
