.header-group {
  background-color: #0091EA;
  color: white;
  font-family: 'Roboto';
  font-weight: 400;
  position: relative;
  box-shadow: 0px 2px 2px rgba(0,0,0,0.15);
  display: flex;
  flex-direction: column;
}

.header-group .header-title {
  font-family: 'Roboto';
}

.header-group .header-title {
  font-size: 22px;
  line-height: 1.3em;
  font-weight: 300;
}

.header-details {
  height: 80px;
  display: flex;
  align-items: center;
}

.header-text {
  flex: 1;
}

.header-options {
  margin-right: 20px;
  display: flex;
}

.header-option {
  margin-left: 15px;
  position: relative;
}

.header-option i {
  width: 24px;
  height: 24px;
  cursor: pointer;
  user-select: none;
  fill: white;
}

.header-nav-icon {
  flex: 0 0 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  user-select: none;
  fill: white;
}

.header-nav-icon i {
  width: 24px;
  height: 24px;
}

.header-nav-icon svg {
  height: 100%;
}

.header-group .tabs-group {
  height: 50px;
  align-items: flex-end;
  padding-left: 50px;
}

.header-group .tab {
  color: rgba(255,255,255,0.75);
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.14px;
  line-height: 14px;
  text-transform: uppercase;
  border-bottom: 4px solid transparent;
}

.header-group .tab:hover {
  color: rgba(255,255,255,1);
}

.header-group .tab.tab-active {
  border-bottom: 4px solid #00DBED;
  color: rgba(255,255,255,1);
}


.header-group .dropdown-menu {
  right: 0px;
  left: auto;
  top: 40px;
  z-index: 9999;
  min-width: 275px;
  padding: 0 0 5px 0;
}

.header-group .account-menu-visible .account-menu {
  opacity: 1;
  visibility: visible;
  transform: translate(0, 0);
}

.header-group .notifications-menu-visible .notifications-menu {
  opacity: 1;
  visibility: visible;
  transform: translate(0, 0);
}

.header-group .dropdown-menu-section {
  border-bottom: 1px solid #E9E9E9;
}

.header-group .dropdown-menu-section:last-child {
  border-bottom: none;
}

.header-group .account-group {
  display: flex;
  align-items: center;
  padding: 20px;
}

.header-group .account-group .account-name {
  color: #707070;
  font-weight: 500;
}

.header-group .account-group .account-email {
  font-size: 13px;
}

.header-group .account-group .account-image {
  margin-right: 15px;
  width: 50px;
  height: 50px;
}

.header-group .account-group .account-image img {
  display: block;
  border-radius: 100%;
}

.header-group .invitations-menu-item {
  padding: 25px 25px 10px 25px;
  font-size: 13px;
  color: #929292;
  width: 300px;
  border-bottom: 1px solid #E9E9E9;
}

.header-group .invitations-menu-item:last-child {
  border-bottom: none;
}

.header-group .invitations-menu-item .button {
  font-size: 13px;
}

.header-group .invitations-menu-text {
  margin-bottom: 10px;
}

.header-group-loading .progress-bar-group {
  opacity: 1;
  visibility: visible;
  animation: animatedBackground 10s linear infinite;
}

@keyframes glowing {
  0% { fill: #004A7F;}
  50% { fill: rgba(11, 81, 133, 0.68);}
  100% { fill: #004A7F;}
}

.glowing {
  animation: glowing 1500ms infinite;
}