.field-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.field-group {
  flex: 0 1 100%;
  margin-bottom: 10px;
  position: relative;
  padding-bottom: 5px;
}

.field-label {
  font-weight: 400;
  font-size: 12px;
  color: #888888;
}

.field-input {
  background-color: transparent;
  font-weight: 400;
  font-size: 16px;
  color: #5B5B5B;
  padding: 5px 5px 6px 0px;
  min-height: 2em;
  border: none;
  width: 100%;
  border-bottom: 1px solid #EAEAEA;
  margin: 5px 0;
  transition: all 75ms;
}

.field-group textarea {
  overflow: auto;
  resize: none;
  max-height: 350px;
  min-height: 4em;
}

.field-group-large-text .field-input {
  font-size: 30px;
  height: 1.7em;
}

.field-input:focus {
  outline: none;
  padding-bottom: 5px;
  border-bottom: 2px solid #0091EA;
}

.field-group-error .field-input {
  outline: none;
  padding-bottom: 5px;
  border-bottom: 2px solid #DC342E;
}

.field-error-text {
  font-size: 13px;
  color: #DC342E;
}

.field-input-group {
  position: relative;
}

.field-group-select .field-input-group i {
  position: absolute;
  bottom: 0px;
  right: 0px;
  fill: #ccc;
  width: 34px;
  height: 34px;
  padding: 4px;
}

.field-group-select:hover .field-input-group i {
  fill: #666;
}

.field-options-group {
  background-color: white;
  box-shadow: 0px 2px 8px rgba(0,0,0,0.25);
  position: absolute;
  top: 1.5em;
  left: -5px;
  right: -5px;
  min-width: 150px;
  font-weight: 400;
  font-size: 14px;
  color: #626262;
  padding: 0.5em 0;
  z-index: 99999;
  max-height: 240px;
  overflow: auto;
  display: none;
}

.field-group-select .field-input {
  cursor: default;
}

.field-options-visible .field-options-group {
  display: block;
}

.field-select-option {
  cursor: pointer;
  user-select: none;
  padding: 0.5em 1em;
  height: 34px;
  border-bottom: 1px solid transparent;
}

.field-select-option:hover {
  background-color: rgba(0,0,0,0.05);
}