.button-social-auth-list {
  border: 1px solid #0091EA;
  border-bottom: none;
  border-radius: 3px;
}

.button-social-auth-list .button-social-auth {
  border-radius: 0;
  border: none;
  border-bottom: 1px solid #0091EA;
}