.progress-bar-group.progress-bar-visible {
  opacity: 1;
  visibility: visible;
  animation: animatedBackground 15s linear infinite;
}

.progress-bar-group {
  /*position: absolute;*/
  bottom: -5px;
  height: 5px;
  z-index: 99;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  transition: 150ms all;
  background-image: linear-gradient(to right, #FAD165 0%, #FAD165 25%, #3FD18E 25%, #3FD18E 50%, #F4697A 50%, #F4697A 75%, #176EF9 75%, #176EF9 100% );
  background-position: 0px 0px;
}

@keyframes animatedBackground {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -10000px 0;
  }
}
