.color-picker {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 30px 40px 80px 40px;
}

.color-picker-list-item {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: #E42A66;
  margin: 8px;
  cursor: pointer;
  user-select: none;
}

.color-picker-list-item i {
  width: 40px;
  height: 40px;
  padding: 7px;
  fill: white;
}
