.fab-list {
  position: fixed;
  right: 50px;
  bottom: 50px;
  z-index: 999;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.fab-with-label {
  position: relative;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fab-with-label .label {
  order: 1;
  margin-right: 15px;
}

.fab-with-label .fab {
  order: 2;
  margin-right: 15px;
}

.fab + .label {
  visibility: hidden;
  opacity: 0;
  transition: all 125ms;
}

.fab:hover + .label {
  visibility: visible;
  opacity: 1;
}

.fab {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 150ms;
  fill: #fff;
  user-select: none;
  cursor: pointer;
}

.fab.fab-primary {
  background: #FF2D6F;
  width: 55px;
  height: 55px;
}

.fab:hover {
  box-shadow: 0 8px 17px 0 rgba(0,0,0,.2);
}

.fab i {
  width: 22px;
  height: 22px;
}