.snackbar-group {
  position: fixed;
  bottom: 0;
  left: 0;
  max-width: 460px;
  padding: 30px;
  width: 100%;
  z-index: 4500;
  font-family: 'Roboto','Droid Sans',arial,sans-serif;
  font-size: 14px;
  visibility: hidden;
}

.snackbar {
  background-color: #404040;
  border: 4px solid transparent;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
  margin-top: 10px;
  position: relative;
  border-radius: 3px;
  display: flex;
  align-items: center;
  padding: 10px 10px 10px 20px;
}

.snackbar-text {
  color: #fff;
  flex: 1 1 auto;
}

.snackbar-action {
  color: #ffbb00;
  margin-left: 5px;
  font-size: 13px;
  font-weight: 500;
  padding: 5px 14px;
  text-transform: uppercase;
  cursor: pointer;
  user-select: none;
  flex-shrink: 0;
}